<div class="center"></div>


<div class="row-centered">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-centered">
        <div class="padding-block">
        <div class="text-box-general">
            <h1 class="gold header-logo">
                Do you hate posting, writing captions, and responding to comments and messages? Don't worry, a lot of people do,
                and thats why we created SocialCurate.com! Social media is a necessary part of advertising in the modern world,
                but the truth is there are some people that just don't like spending that much time using it. That's why we're here.
                We create and curate socail media accounts for both business and personal use on a weekly basis. 
            </h1>
            <%= link_to '#' do %>
                <h1 class="gold header-logo">Sign Up!</h1>
            <% end %>
        </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var textBox = document.querySelector('.text-box-general');
    
    setTimeout(function() {fadeInPartial(textBox)}, 500);
});
</script>