body:not(#home) {
@import "bootstrap-sprockets";
@import "bootstrap";

/* header */ 

.navbar {
  background-color: #000000;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.85;
  margin-bottom: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
 }
 
.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

.header-logo {
  font-size: 1.5em;
  letter-spacing: -2px;
  font-family: 'Amatic SC', cursive;
}



#header-button, .navbar-toggle {
    border-radius: 50% !important;
    border: none !important;
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

}



$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

body {
  background: url(coffee-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  text-align: center;
}

.gold {
color: #e88a18 !important;      
}

h1 {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  color: white !important;
}

h2 {
  padding-top: 5px;
  text-transform: uppercase;
  font-family: 'Amatic SC' !important;
  //text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 3em !important;
  color: white;
}

h2 {
  padding-top: 5px;
  //text-transform: uppercase;
  font-family: 'Amatic SC' !important;
  //text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1.8em !important;
  color: white;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(preloader.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}



.text-box-general {
  border-radius: 12px;
  background: #262626;
  opacity: 0.0;
  width: 90%;
  height: 90%;
  text-align: center;
  display: inline-block;
  transition: 2s;
}

/* centered columns styles */
.row-centered {
    text-align: center !important;
}

.padding-block {
  padding-top: 50px;
}



/* Users sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* users signup page */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* errors */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

/* remember me */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #C0C0C0;
  }
}