// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
      box-sizing: border-box;
      //background: black;
      font-size: 20px;
      font-weight: 200;
      font-family: 'Give You Glory', cursive;
}
    
body {
      margin: 0;
}

#home {
      background: url(social-curate-bkg.jpg) no-repeat center fixed !important; 
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
}
      
.white {
      color: white !important;
}

.gold {
color: #e88a18 !important;      
}

.mobile-home:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(coffee-min.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*, *:before, *:after {
      box-sizing: inherit;
}

.panels {
      min-height: 100vh;
      overflow: hidden;
      display: flex;
}
    
.panel {
      background: #6B0F9C;
      box-shadow: inset 0 0 0 12px rgba(255,255,255,0.2);
      color: white;
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 13px;
      background-size: cover;
      background-position: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center; /*center left to right*/
      align-items: center; /*center horizontally*/
}
    
.panel1 { 
      background-image:url(ocean-min.jpg); 
      opacity: 0.0;
}
.panel2 { 
      background-image:url(path-min.jpg); 
      opacity: 0.0;
}
.panel3 { 
      background-image:url(clouds.jpg); 
      opacity: 0.0;
}
.panel4 { 
      background-image:url(sky-trees-min.jpg); 
      opacity: 0.0;
}
.panel5 { 
      background-image:url(waves-min.jpg); 
      opacity: 0.0;
}

.secTransition {
 transition: 2s !important;     
}

/* * selects all of that class, and > selects the immediate signified child of that class 
/* Flex Items */
.panel > * {
      margin: 0;
      width: 100%;
      transition: transform 0.8s;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
}
    
/*these two push the top and bottom text off the screen and let them enter on class: open-active*/
.panel > *:first-child {
      transform: translateY(-100%);
}
.panel.open-active > *:first-child {
      transform: translateY(0%);
}
    
.panel > *:last-child {
      transform: translateY(100%);
}
.panel.open-active > *:last-child {
      transform: translateY(0%);
}
    

.panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
      cursor: default; 
}
    
.panel p:nth-child(2) {
      font-size: 4em;
}
.panel.open {
      font-size: 25px;
      flex: 5;
}


button {
      background-color: Transparent;
      color: white; 
      border: 4px solid white;
      border-radius: 14px;
      font-size: 30px;
      font-family: 'Amatic SC', cursive;
      &:hover {
            background-color: black;
            opacity: 0.5;
            cursor: pointer !important;
      }
}

.mobile-button {
      font-family: 'Amatic SC' !important;
      background-color: black;
} 

.mobile-button-lg {
      font-family: 'Amatic SC' !important;
      background-color: black;
      opacity: 0.8;
      font-size: 1.5em !important;
} 

.mobile-box {
      background: #262626;
      opacity: 0.85;
      width: 100%;
      height: 150px;
      border-radius: 12px;
      background-size: cover;
      border: 2px solid white;
}

.mobile-logo {
      font-family: 'Amatic SC' !important;
      font-size: 3em !important;
      font-weight: bold;
}

.mobile-break {
      height: 40vh;
}

/*
#mobile-box1 {background-image:url(ocean-min.jpg); }
#mobile-box2 { background-image:url(path-min.jpg); }
#mobile-box3 { background-image:url(clouds.jpg); }
#mobile-box4 { background-image:url(sky-trees-min.jpg); }
*/
